$default-color: black;
$invert-color: white;
$highlight-color: gray;
$code-color: white;
$link-color: steelblue;
$button-color: white;

$default-background: white;
$invert-background: black;
$highlight-background: #ddd;
$code-background: #111;
$overlay-background1: rgba(255,255,255,0.8);
$overlay-background2: rgba(230,230,230,0.8);
$button-background: steelblue;