$default-color: white;
$invert-color: black;
$highlight-color: gray;
$code-color: black;
$link-color: steelblue;
$button-color: white;

$default-background: black;
$invert-background: white;
$highlight-background: #ddd;
$code-background: #eee;
$overlay-background1: rgba(0,0,0,0.8);
$overlay-background2: rgba(230,230,230,0.8);
$button-background: steelblue;