body {
  scroll-behavior: smooth;
  margin: 0;
}

body, input, textarea, button {
  font-family: "Montserrat", sans-serif;
  color: black;
  background: white;
}

input, textarea {
  border-radius: 5px;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 a {
  color: black;
}

h4 a {
  color: black;
}
h4 a:hover:before {
  content: "#";
  position: absolute;
  margin-left: -15px;
  margin-top: 10px;
  font-size: 20px;
}

p, ul, button, input, textarea {
  font-size: 18px;
  line-height: 150%;
}

a {
  color: steelblue;
  text-decoration: none;
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

.suffix {
  color: gray;
}

.button-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 650px) {
  .button-container {
    display: block;
    width: 100%;
  }
}

.button-container a, button {
  display: block;
  background: steelblue;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
@media (max-width: 650px) {
  .button-container a, button {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.button-container a {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

button {
  border: none;
}
@media (max-width: 650px) {
  button {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .desktop {
    display: none !important;
  }
}
@media (max-width: 650px) {
  .desktop {
    display: none !important;
  }
}

.mobile {
  display: none !important;
}
@media (max-width: 900px) {
  .mobile {
    display: block !important;
  }
}
@media (max-width: 650px) {
  .mobile {
    display: block !important;
  }
}

nav {
  position: fixed;
  z-index: 999;
}

nav#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  background: black;
  margin: 0;
  padding: 5px;
  padding-right: 40px;
  height: 35px;
}
@media (max-width: 650px) {
  nav#menu {
    z-index: 900;
  }
}
nav#menu h1 {
  font-size: 20px;
  margin: 0;
  margin-top: -2px;
  display: flex;
}
nav#menu h1 a {
  color: white;
}
nav#menu div {
  display: flex;
  justify-content: flex-end;
}
nav#menu div a {
  text-transform: uppercase;
  color: white;
  margin-right: 20px;
}
@media (max-width: 650px) {
  nav#menu div a {
    margin-right: 10px;
    font-size: 85%;
  }
}
nav#menu div a:hover {
  color: steelblue;
}

nav#social {
  display: flex;
  flex-direction: row;
  width: 64px;
  right: 15px;
  margin-top: 50px;
}
@media (max-width: 650px) {
  nav#social {
    position: static;
    right: auto;
    width: auto;
    flex-direction: column;
    margin-top: 0;
    margin: auto;
    z-index: inherit;
  }
}
nav#social a {
  padding: 10px;
}
nav#social a img {
  max-height: 64px;
}
nav#social a img#github {
  border-radius: 3px;
  max-height: 50px;
  margin-left: 3px;
}
nav#social a img#linkedin {
  margin-top: 8px;
  margin-left: 3px;
}

footer {
  background: black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid gray;
}
footer a {
  color: white;
}

/*# sourceMappingURL=shared.css.map */
