body {
  scroll-behavior: smooth;
  margin: 0; }

body, input, textarea, button {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background: white; }

input, textarea {
  border-radius: 5px;
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 a {
  color: black; }

h4 a {
  color: black; }
  h4 a:hover:before {
    content: "#";
    position: absolute;
    margin-left: -15px;
    margin-top: 10px;
    font-size: 20px; }

p, ul, button, input, textarea {
  font-size: 18px;
  line-height: 150%; }

a {
  color: steelblue;
  text-decoration: none; }

img {
  max-width: 100%;
  box-sizing: border-box; }

.suffix {
  color: gray; }

.button-container {
  display: flex;
  justify-content: center; }
  @media (max-width: 550px) {
    .button-container {
      display: block;
      width: 100%; } }

.button-container a, button {
  display: block;
  background: steelblue;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media (max-width: 550px) {
    .button-container a, button {
      margin-top: 5px;
      padding-left: 20px;
      padding-right: 20px; } }

.button-container a {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; }

button {
  border: none; }
  @media (max-width: 550px) {
    button {
      width: 100%; } }

@media (max-width: 550px) {
  .desktop {
    display: none !important; } }

.mobile {
  display: none !important; }
  @media (max-width: 550px) {
    .mobile {
      display: block !important; } }

.tablet {
  display: none !important; }
  @media (max-width: 900px) {
    .tablet {
      display: block !important; } }

@media (max-width: 550px) {
  .exclude-mobile {
    display: none !important; } }

@media (max-width: 900px) {
  .exclude-tablet {
    display: none !important; } }

nav {
  position: fixed;
  z-index: 999;
  height: 35px}

#mobile-menu:target {
  visibility: visible; }

nav#mobile-menu {
  visibility: hidden;
  width: 100vw;
  background: black;
  height: 100vh;
  font-size: 20px;
  margin-top: 31px; }
  nav#mobile-menu #links {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    nav#mobile-menu #links #close {
      height: 30px;
      width: 30px;
      margin-top: -30px;
      margin-right: 20px;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      nav#mobile-menu #links #close a {
        cursor: pointer;
        color: white;
        padding: 12px; }
        nav#mobile-menu #links #close a:hover {
          color: steelblue; }
    nav#mobile-menu #links #link-items a {
      display: block;
      color: white;
      padding: 12px; }
      nav#mobile-menu #links #link-items a:hover {
        color: steelblue; }

nav#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  background: black;
  margin: 0;
  padding: 5px;
  padding-right: 40px; }
  @media (max-width: 550px) {
    nav#menu {
      z-index: 900; } }
  nav#menu h1 {
    font-size: 20px;
    margin: 0;
    margin-top: -2px;
    display: flex; }
    nav#menu h1 a {
      color: white; }
    nav#menu h1 #hamburger {
      display: none;
      width: 20px;
      margin-right: 5px;
      margin-top: 5px;
      flex-direction: column-reverse; }
      @media (max-width: 550px) {
        nav#menu h1 #hamburger {
          display: flex; } }
      nav#menu h1 #hamburger a {
        cursor: pointer; }
      nav#menu h1 #hamburger span {
        display: block;
        margin-top: 2px;
        background: white;
        height: 3px;
        width: 20px; }
  nav#menu div {
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 900px) {
      nav#menu div {
        padding-right: 5px; } }
    @media (max-width: 550px) {
      nav#menu div {
        display: none; } }
    nav#menu div a {
      text-transform: uppercase;
      color: white;
      margin-right: 20px; }
      @media (max-width: 900px) {
        nav#menu div a {
          margin-right: 4px;
          font-size: 94%; } }
      nav#menu div a:hover {
        color: steelblue; }

nav#social {
  display: flex;
  flex-direction: row;
  width: 64px;
  right: 15px;
  margin-top: 55px; }
  @media (max-width: 550px) {
    nav#social {
      position: static;
      right: auto;
      width: auto;
      flex-direction: column;
      margin-top: 0;
      margin: auto;
      z-index: inherit; } }
  nav#social a {
    padding: 10px; }
    nav#social a img {
      max-height: 64px; }
      nav#social a img#github {
        border-radius: 3px;
        max-height: 50px;
        margin-left: 3px; }
      nav#social a img#linkedin {
        margin-top: 8px;
        margin-left: 3px; }

footer {
  background: black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid gray; }
  footer a {
    color: white; }

/*# sourceMappingURL=shared.css.map */
