/* global */
body {
  scroll-behavior: smooth;
  margin: 0; }

h1, h2, h3 {
  margin: 20px; }

h1, h4, h5, h6 {
  margin: 0; }

p {
  font-size: 18px; }

a {
  color: steelblue;
  text-decoration: none; }

img {
  max-width: 100%;
  box-sizing: border-box; }

.lastname {
  color: gray; }

.button-container {
  display: flex;
  justify-content: center; }
  @media (max-width: 550px) {
    .button-container {
      display: block;
      width: 100%; } }

.button-container a, button {
  display: block;
  background: steelblue;
  color: white;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }
  @media (max-width: 550px) {
    .button-container a, button {
      margin-top: 5px;
      padding-left: 20px;
      padding-right: 20px; } }

.button-container a {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; }

button {
  border: none; }
  @media (max-width: 550px) {
    button {
      width: 100%; } }

@media (max-width: 550px) {
  .desktop {
    display: none !important; } }

.mobile {
  display: none !important; }
  @media (max-width: 550px) {
    .mobile {
      display: block !important; } }

/* local */
nav {
  position: fixed;
  z-index: 999; }

nav#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  background: black;
  margin: 0;
  padding: 5px;
  padding-right: 40px; }
  @media (max-width: 550px) {
    nav#menu {
      display: none; } }
  nav#menu h1 {
    font-size: 20px;
    margin: 0;
    margin-top: -2px; }
    nav#menu h1 a {
      color: white; }
  nav#menu div {
    display: flex;
    justify-content: flex-end; }
    nav#menu div a {
      text-transform: uppercase;
      color: white;
      margin-right: 5px; }
      nav#menu div a:hover {
        color: steelblue; }

nav#social {
  display: flex;
  flex-direction: row;
  width: 64px;
  right: 15px;
  margin-top: 40px; }
  @media (max-width: 550px) {
    nav#social {
      position: static;
      right: auto;
      width: auto;
      flex-direction: column;
      margin-top: 0;
      margin: auto;
      z-index: inherit; } }
  nav#social a {
    padding: 10px; }
    nav#social a img {
      max-height: 64px; }
      nav#social a img#github {
        border-radius: 3px;
        max-height: 50px; }
      nav#social a img#linkedin {
        margin-top: 8px;
        margin-left: 0px; }
      nav#social a img#gmail {
        margin-left: -3px; }

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  header div {
    margin: auto; }
    header div h1 {
      font-size: 70px;
      text-align: center;
      font-weight: bold; }
      @media (max-width: 550px) {
        header div h1 {
          font-size: 50px; } }
    header div h2 {
      font-size: 60px;
      font-weight: normal; }
      @media (max-width: 550px) {
        header div h2 {
          font-size: 40px; } }
    header div h3 {
      font-size: 40px;
      font-weight: bold; }
      @media (max-width: 550px) {
        header div h3 {
          font-size: 30px; } }
  @media (max-width: 550px) {
    header .button-container {
      box-sizing: border-box;
      padding: 20px; } }

section {
  padding: 80px; }
  @media (max-width: 900px) {
    section {
      padding: 40px; } }
  @media (max-width: 550px) {
    section {
      padding: 20px; } }
  section h4 {
    font-size: 30px;
    text-align: center; }
  section h5 {
    font-size: 25px; }
  section .overlay {
    margin: 80px;
    padding: 80px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    position: relative; }
    @media (max-width: 900px) {
      section .overlay {
        padding: 40px; } }
    @media (max-width: 550px) {
      section .overlay {
        padding: 20px; } }
  section#code {
    background: #111;
    overflow: hidden; }
    section#code .overlay {
      max-width: 675px;
      margin: auto; }
    section#code .background {
      color: white;
      text-align: left;
      z-index: 1;
      position: relative;
      transform: rotate(-1deg);
      user-select: none; }
      section#code .background code {
        position: absolute;
        margin-top: -60px;
        margin-left: -90px;
        filter: blur(1.5px); }
      section#code .background .comment-highlight {
        color: green; }
      section#code .background .function-highlight {
        color: yellow; }
      section#code .background .variable-highlight {
        color: lightskyblue; }
      section#code .background .keyword-highlight {
        color: royalblue; }
      section#code .background .statement-highlight {
        color: magenta; }
      section#code .background .string-highlight {
        color: orange; }
      section#code .background .number-highlight {
        color: lime; }
  section#javascript {
    max-width: 850px;
    margin: auto; }
    section#javascript #technologies {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 300px) {
        section#javascript #technologies {
          display: block; } }
      section#javascript #technologies div {
        padding: 10px;
        text-align: center; }
        section#javascript #technologies div img {
          max-width: 120px;
          max-height: 70px; }
  section#portfolio, section#contact {
    background: #ddd; }
  section#portfolio #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (max-width: 550px) {
      section#portfolio #projects {
        display: block; } }
    section#portfolio #projects .project {
      margin: 20px;
      text-align: center;
      flex-basis: 20%; }
      @media (max-width: 1000px) {
        section#portfolio #projects .project.overlay {
          padding: 20px; } }
      @media (max-width: 1000px) {
        section#portfolio #projects .project {
          flex-basis: 35%; } }
      @media (max-width: 900px) {
        section#portfolio #projects .project {
          flex-basis: 35%; } }
      @media (max-width: 700px) {
        section#portfolio #projects .project {
          flex-basis: 100%; } }
      @media (max-width: 550px) {
        section#portfolio #projects .project {
          flex-basis: 100%; } }
      section#portfolio #projects .project details > div {
        text-align: left;
        animation: showDetails .4s ease-in-out; }
@keyframes showDetails {
  section#portfolio #projects .project {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }
      section#portfolio #projects .project details summary {
        cursor: pointer;
        outline: none;
        box-sizing: border-box; }
      section#portfolio #projects .project details summary > div:nth-of-type(2) {
        margin-bottom: 15px; }
        section#portfolio #projects .project details summary > div:nth-of-type(2) img {
          max-height: 48px;
          margin-left: 2px;
          margin-right: 2px; }
      section#portfolio #projects .project details summary::-webkit-details-marker {
        display: none; }
      section#portfolio #projects .project details summary::after {
        content: "More";
        margin-bottom: 10px;
        background: steelblue;
        color: white;
        border-radius: 3px;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px; }
        @media (max-width: 550px) {
          section#portfolio #projects .project details summary::after {
            display: block; } }
      section#portfolio #projects .project details[open] summary:after {
        content: "";
        display: none; }
      section#portfolio #projects .project ul {
        -webkit-padding-start: 0; }
        section#portfolio #projects .project ul li {
          -webkit-margin-start: 20px; }
  section#resources {
    max-width: 675px;
    margin: auto; }
    section#resources h5 {
      text-align: center; }
    section#resources #list {
      display: flex; }
      @media (max-width: 550px) {
        section#resources #list {
          display: block; } }
      section#resources #list .item {
        flex-basis: 50%;
        margin: 30px; }
  section#contact {
    display: flex;
    flex-direction: column;
    min-height: 94vh;
    box-sizing: border-box;
    background: black;
    color: white;
    overflow: hidden; }
    section#contact div {
      margin: auto;
      transition: opacity 0.9s; }
      section#contact div form {
        width: 500px;
        max-width: 85vw; }
        section#contact div form label, section#contact div form input, section#contact div form textarea {
          display: block;
          box-sizing: border-box;
          width: 100%; }
        section#contact div form label {
          margin-top: 10px;
          margin-bottom: 2px; }
        section#contact div form input, section#contact div form textarea {
          padding: 5px; }
        section#contact div form textarea {
          resize: vertical;
          min-height: 100px; }
        section#contact div form img {
          margin-top: 10px; }
        section#contact div form #sending {
          margin-top: 5px; }
        section#contact div form #validation {
          margin-top: 5px;
          color: red; }
        section#contact div form button {
          margin-top: 10px; }
      section#contact div.disappear {
        opacity: 0;
        animation: squish 2s forwards; }
@keyframes squish {
  section#contact div {
    0% {
      height: auto; }
    100% {
      height: 0;
      visibility: hidden;
      display: none; } } }
    section#contact #thankyou {
      display: flex;
      align-items: center;
      min-height: 80vh;
      box-sizing: border-box;
      color: steelblue;
      margin-top: -50px; }

footer {
  background: black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid gray; }
  footer a {
    color: white; }

/*# sourceMappingURL=style.css.map */
