$assets: 'assets/';
$standard-padding: 80px;
$medium-padding: 40px;
$small-padding: 20px;
$max-width: 675px;
$max-width2: 850px;
$max-width3: 500px;

@mixin breakpoint($class) {

  @if $class == xtrasmall {
    @media (max-width: 300px) { @content; }
  }
  @else if $class == small {
    @media (max-width: 500px) { @content; }
  }
  @else if $class == medium {
    @media (max-width: 900px) { @content; }
  }
}

/* global */

body {
  scroll-behavior: smooth;
  margin: 0;
}

h1, h2, h3 {
  margin: 20px;
}

h1, h4, h5, h6 {
  margin: 0;
}

p {
  font-size: 18px;
}

a {
  color: steelblue;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.lastname {
  color: gray;
}

.button-container {
  display: flex;
  justify-content: center;

  @include breakpoint(small) {
    display: block;
    width: 100%;
  }

}

.button-container a, button {
  display: block;
  background: steelblue;
  color: white;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;

  @include breakpoint(small) {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }


}

.button-container a {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

button {
  border: none;

  @include breakpoint(small) {
    width: 100%;
  }

}

.desktop {

  @include breakpoint(small) {
    display: none !important;
  }

}

.mobile {
  display: none !important;

  @include breakpoint(small) {
    display: block !important;
  }

}

/* local */

nav {
  position: fixed;
  z-index: 999;
}

nav#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  background: black;
  margin: 0;
  padding: 5px;
  padding-right: 40px;

  @include breakpoint(small) {
    display: none;
  }

  h1 {
    font-size: 20px;
    margin: 0;
    margin-top: -2px;

    a {
      color: white;
    }

  }

  div {
    display: flex;
    justify-content: flex-end;

    a {
      text-transform: uppercase;
      color: white;
      margin-right: 5px;
  
      &:hover {
        color: steelblue;
      }
  
    }
  
  }


}

nav#social {
  display: flex;
  flex-direction: row;
  width: 64px;
  right: 15px;
  margin-top: 40px;

  @include breakpoint(small) {
    position: static;
    right: auto;
    width: auto;
    flex-direction: column;
    margin-top: 0;
    margin: auto;
    z-index: inherit;
  }

  a {
    padding: 10px;

    img {
      max-height: 64px;

      &#github {
        border-radius: 3px;
        max-height: 50px;
      }

      &#linkedin {
        margin-top: 8px;
        margin-left: 0px;
      }

      &#gmail {
        margin-left: -3px;
      }

    }

  }

}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  div {
    margin: auto;

    h1 {
      font-size: 70px;
      text-align: center;
      font-weight: bold;

      @include breakpoint(small) {
      font-size: 50px;
      }

    }

    h2 {
      font-size: 60px;
      white-space: pre-line;
      font-weight: normal;

      @include breakpoint(small) {
        font-size: 40px;
      }

    }

    h3 {
      font-size: 40px;
      font-weight: bold;


      @include breakpoint(small) {
        font-size: 30px;
      }

    }

  }

  .button-container {
    @include breakpoint(small) {
      box-sizing: border-box;
      padding: $small-padding;
    }  
  }

}

section {
  padding: $standard-padding;

  @include breakpoint(medium) {
    padding: $medium-padding;
  }

  @include breakpoint(small) {
    padding: $small-padding;
  }

  h4 {
    font-size: 30px;
    text-align: center;
  }

  h5 {
    font-size: 25px;
  }

  & .overlay {
    margin: $standard-padding;
    padding: $standard-padding;
    background: rgba(255,255,255,0.8);
    z-index: 2;
    position: relative;

    @include breakpoint(medium) {
      padding: $medium-padding;
    }

    @include breakpoint(small) {
      padding: $small-padding;
    }

  }

  &#code {
    background: #111;
    overflow: hidden;

    .overlay {
      max-width: $max-width;
      margin: auto;
    }

    .background {
      color: white;
      text-align: left;
      z-index: 1;
      position: relative;
      transform: rotate(-1deg);
      user-select: none;

      code {
        position: absolute;
        margin-top: -60px;
        margin-left: -90px;
        filter: blur(1.5px);
      }

      .comment-highlight {
        color: green;
      }

      .function-highlight {
        color: yellow;
      }

      .variable-highlight {
        color: lightskyblue;
      }

      .keyword-highlight {
        color: royalblue;
      }

      .statement-highlight {
        color: magenta;
      }

      .string-highlight {
        color: orange;
      }

      .number-highlight {
        color: lime;
      }

    }

  }

  &#javascript {
    max-width: $max-width2;
    margin: auto;
    
    #technologies {
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(xtrasmall) {
        display: block;
      }

      div {
        padding: 10px;
        text-align: center;

        img {
          max-width: 120px;
          max-height: 70px;
        }

      }
      
    }

  }

  &#portfolio, &#contact {
    background: #ddd;
  }

  &#portfolio {

    #projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include breakpoint(small) {
        display: block;
      }
      
      .project {
        margin: $small-padding;
        flex-basis: 29%;
        text-align: center;

        @include breakpoint(medium) {
          flex-basis: 40%;
        }

        details > div {
          text-align: left;
          animation: showDetails .4s ease-in-out;
        }

        @keyframes showDetails {
          0%    {opacity: 0;}
          100%  {opacity: 1;}
        }

        details {

          summary {
            cursor: pointer;
            outline: none;
            box-sizing: border-box;
          }

          summary > div:nth-of-type(2) {
            margin-bottom: 15px;

            img {
              max-height: 48px;
              margin-left: 2px;
              margin-right: 2px;
            }

          }

          summary::-webkit-details-marker {
            display: none;
          }

          summary::after {
            content: "More";
            margin-bottom: 10px;
            background: steelblue;
            color: white;
            border-radius: 3px;
            padding: 10px;
            padding-left: 50px;
            padding-right: 50px;

            @include breakpoint(small) {
              display: block;
            }  

          }

        }

        details[open] summary:after {
          content: "";
          display: none;
        }

        ul {
          -webkit-padding-start: 0;
    
          li {
            -webkit-margin-start: 20px;
          }
    
        }

      }

    }



  }

  &#resources {
    max-width: $max-width;
    margin: auto;

    h5 {
      text-align: center;
    }

    #list {
      display: flex;

      @include breakpoint(small) {
        display: block;
      }

      .item {
        flex-basis: 50%;
        margin: 30px;

      }

    }

  }

  &#contact {
    display: flex;
    flex-direction: column;
    min-height: 94vh;
    box-sizing: border-box;
    background: black;
    color: white;

    form {
      display: block;
      width: $max-width3;
      margin: auto;

      @include breakpoint(small) {
        width: 100%;
      }

      label, input, textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
      }

      label {
        margin-top: 10px;
        margin-bottom: 2px;
      }

      input, textarea {
        padding: 5px;
      }

      textarea {
        resize: vertical;
        min-height: 100px;
      }

      button {
        margin-top: 20px;
      }

    }

  }

}

footer {
  background: black;
  padding: 10px;
  text-align: center;
  font-weight: bold;

  a {
    color: white;
  }

}