@import "variables.scss";
@import "default-theme.scss";

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;

  #hero {
    background: $overlay-background1;
    padding: $standard-padding;
    border-radius: $border-radius;
    box-sizing: border-box;
    margin: auto;

    @include breakpoint(medium) {
      padding: $medium-padding;
    }

    @include breakpoint(small) {
      padding: 0;
    }


    h1 {
      font-size: 70px;
      text-align: center;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 100px;

      @include breakpoint(small) {
        font-size: 45px;
        margin-bottom: 20px;

        .suffix {
          display: inline-block
        }
      }

    }

    h2 {
      font-size: 60px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 10px;

      @include breakpoint(small) {
        font-size: 40px;
        margin-bottom: 0;
      }

    }

    h3 {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;

      @include breakpoint(small) {
        font-size: 30px;
        margin-bottom: 5px;
      }

    }

  }

  .button-container {
    @include breakpoint(small) {
      box-sizing: border-box;
      padding: 10px;
    }  
  }

}

section {
  padding: $standard-padding;

  @include breakpoint(medium) {
    padding: $medium-padding;
  }

  @include breakpoint(small) {
    padding: $small-padding;
  }

  h4 {
    font-size: 30px;
    text-align: center;
  }

  h5 {
    font-size: 25px;
  }

  & .overlay {
    margin: $standard-padding;
    padding: $standard-padding;
    background: $overlay-background1;
    z-index: 2;
    position: relative;
    border-radius: $border-radius;

    @include breakpoint(medium) {
      padding: $medium-padding;
    }

    @include breakpoint(small) {
      padding: $small-padding;
    }

  }

  &#about {

      background: $code-background;
      padding-bottom: 0;
      color: $invert-color;

      h4 a {
        color: $invert-color;
      }

      .content {
        display: flex;
        justify-content: center;

        @include breakpoint(medium) {
          flex-direction: column;
        }

        & > div {
          padding: 25px;
          align-self: center;

          @include breakpoint(small) {
            padding: 10px;
          }

        }

        #portrait {
          width: 300px;

          @include breakpoint(small) {
            width: 100%;
          }
        }

        img {
          width: 300px;
          max-width: none;
          border-radius: $border-radius;

          @include breakpoint(small) {
            width: 100%;
          }
        }

      }

  }

  &#code {
    background: $code-background;
    overflow: hidden;

    .overlay {
      max-width: $max-width;
      margin: auto;

      .row {
        display: flex;

        @include breakpoint(medium) {
          display: block;
        }

        @include breakpoint(small) {
          display: block;
        }

        h4 {
          margin: auto;
          text-align: left;
          padding-right: 20px;
          flex-basis: 30%;

          @include breakpoint(medium) {
            padding-right: 0;
          }

          @include breakpoint(small) {
            padding-right: 0;
          }

        }

        &:nth-child(2n) {
          flex-direction: row-reverse;

          h4 {
            padding-left: 20px;
            padding-right: 0;
            flex-basis: 110%;

            @include breakpoint(medium) {
              padding-left: 0;
            }

            @include breakpoint(small) {
              padding-left: 0;
            }

          }

        }

        &:nth-child(3) {
          h4 {
            flex-basis: 70%;
          }
        }



        ul {
          list-style-type: none;
          padding-left: 0;
        }



      }

    }

    .background {
      max-width: 1100px;
      margin: auto;
      color: $code-color;
      text-align: left;
      z-index: 1;
      position: relative;
      transform: rotate(-1deg);
      user-select: none;

      code {
        margin-left: -150px;
        margin-top: -40px;
        position: absolute;
        filter: blur(1.5px);

        @include breakpoint(medium) {
          margin-left: -130px;
        }

      }

      .comment-highlight {
        color: green;
      }

      .function-highlight {
        color: yellow;
      }

      .variable-highlight {
        color: lightskyblue;
      }

      .keyword-highlight {
        color: royalblue;
      }

      .statement-highlight {
        color: magenta;
      }

      .string-highlight {
        color: orange;
      }

      .number-highlight {
        color: lime;
      }

    }

  }

  &#javascript {
    max-width: $max-width2;
    margin: auto;
    
    #technologies {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      @include breakpoint(small) {
        display: block;
      }

      & > div {
        margin: 5px;
        padding: $small-padding;
        background: $overlay-background2;
        border-radius: $border-radius;
        z-index: 2;
        position: relative;
        text-align: center;

        @include breakpoint(medium) {
          padding: 6px;
        }

        img {
          max-width: 110px;
          max-height: 60px;
          vertical-align: middle;
        }

      }
      
    }

  }

  &#portfolio {
    background: $highlight-background;

    #projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include breakpoint(small) {
        display: block;
      }

      .project {

        &.overlay {
          padding: $small-padding;
        }

        margin: $small-padding;
        text-align: center;
        flex-basis: 35%;

        @include breakpoint(large) {
          flex-basis: 35%;
        }

        @include breakpoint(medium) {
          flex-basis: 100%;
        }

        @include breakpoint(small) {
          flex-basis: 100%;
        }

        details > div {
          text-align: left;
          animation: showDetails .4s ease-in-out;
        }

        @keyframes showDetails {
          0%    {opacity: 0;}
          100%  {opacity: 1;}
        }

        .tech span {
          display: inline-block;
          background: $overlay-background2;
          color: #555;
          border-radius: $border-radius;
          padding: 6px;
          margin-bottom: 2px;
        }

        details {

          summary {
            cursor: pointer;
            outline: none;
            box-sizing: border-box;

            p {
              font-weight: bold;
            }

          }

          summary > div:nth-of-type(2) {
            margin-bottom: 15px;

            img {
              max-height: 48px;
              margin-left: 2px;
              margin-right: 2px;
            }

          }

          summary::-webkit-details-marker {
            display: none;
          }

          summary::after {
            content: "Learn More";
            margin-bottom: 10px;
            background: $button-background;
            color: $button-color;
            border-radius: $border-radius;
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;

            @include breakpoint(small) {
              padding-left: 10px;
              padding-right: 10px;
              display: block;
            }  

          }

        }

        details[open] summary:after {
          content: "";
          display: none;
        }

        ul {
          -webkit-padding-start: 0;
    
          li {
            -webkit-margin-start: 20px;
          }
    
        }

        a {
          word-break: break-all;
        }

      }

    }



  }

  &#resources {
    max-width: $max-width;
    margin: auto;

    h5 {
      text-align: center;
    }

    #list {
      display: flex;

      @include breakpoint(small) {
        display: block;
      }

      .item {
        flex-basis: 50%;
        margin: 30px;

      }

    }

  }

  &#contact {
    padding: 0;
    display: flex;
    flex-direction: column;
    background: $invert-background;
    color: $invert-color;
    overflow: hidden;

    iframe {
      margin-top: -50px;
      height: 800px;
      border: 0;
      min-width: 500px;

      @include breakpoint(small) {
        margin-left: -100px;
      }  

    }

    .container {
      z-index: 200;
      position: absolute;
      width: 100%;
      pointer-events: none;
    }

    #contact-form {
      padding-top: $standard-padding;

      @include breakpoint(medium) {
        padding-top: $medium-padding;
      }

      @include breakpoint(small) {
        padding-top: $small-padding;
      }

    }

    h4 a {
      color: $invert-color;
      pointer-events: all;
    }

    div {
      margin: auto;
      transition: opacity 0.9s;

      form {
        width: $max-width3;
        max-width: 85vw;
        margin: auto;
  
        label, input, textarea {
          display: block;
          box-sizing: border-box;
          width: 100%;
        }
  
        label {
          margin-top: 10px;
          margin-bottom: 2px;
        }
  
        input, textarea {
          padding: 10px;
          pointer-events: all;
        }
  
        textarea {
          resize: vertical;
          min-height: 100px;
        }
  
        img {
          margin-top: 10px;
        }

        #sending {
          margin-top: 10px;
        }

        #validation {
          margin-top: 10px;
          color: red;
        }

        button {
          margin-top: 10px;
          pointer-events: all;
        }
  
      }

      &.disappear {
        opacity: 0;
        animation: squish 2s forwards;
      }

      @keyframes squish {
        0%   {height: auto}
        100% {height: 0; visibility: hidden; display: none;}
      }

    }

    #thankyou {
      display: flex;
      align-items: center;
      min-height: 80vh;
      box-sizing: border-box;
      color: $highlight-color;
      margin-top: -50px;
    }

  }

}