@import "variables.scss";
@import "default-theme.scss";

body {
    background: black;
}

header {
    background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;

  #hero {
    background: $overlay-background1;
    padding: $standard-padding;
    border-radius: $border-radius;
    box-sizing: border-box;
    margin: auto;

    @include breakpoint(medium) {
      padding: $medium-padding;
    }

    @include breakpoint(small) {
      padding: 0;
    }


    h1 {
      font-size: 70px;
      text-align: center;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 100px;

      @include breakpoint(small) {
        font-size: 45px;
        margin-bottom: 20px;

        .suffix {
          display: inline-block
        }
      }

    }

    h2 {
      font-size: 60px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 10px;

      @include breakpoint(small) {
        font-size: 40px;
        margin-bottom: 0;
      }

    }

    h3 {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;

      @include breakpoint(small) {
        font-size: 30px;
        margin-bottom: 5px;
      }

    }

  }

  .button-container {
    @include breakpoint(small) {
      box-sizing: border-box;
      padding: 10px;
    }  
  }

}

section {
  padding: $standard-padding;

  @include breakpoint(medium) {
    padding: $medium-padding;
  }

  @include breakpoint(small) {
    padding: $small-padding;
  }

  h4 {
    font-size: 30px;
    text-align: center;
  }

  h5 {
    font-size: 25px;
  }

  & .overlay {
    margin: $standard-padding;
    padding: $standard-padding;
    background: $overlay-background1;
    z-index: 2;
    position: relative;
    border-radius: $border-radius;

    @include breakpoint(medium) {
      padding: $medium-padding;
    }

    @include breakpoint(small) {
      padding: $small-padding;
    }

  }

  &#about {
    padding: 0;
    display: flex;
    flex-direction: column;
    color: $invert-color;
    overflow: hidden;
    height: 110vh;
    justify-content: center;
    align-items: center;

    iframe {
        height: 110vh;
        border: 0;
        width: 100vw;
        z-index: 1;
        position: absolute;
      }

    .container {
        z-index: 2;
        box-sizing: border-box;
        padding-top: 60px;
        background: rgba(0, 0, 0, 0.7);
        width: 90vw;

        @include breakpoint(medium) {
            padding-top: 30px;
            width: 95vw;
        }

        @include breakpoint(small) {
            width: 100vw;
        }
      }

      h4 a {
        color: $invert-color;
      }

      .content {
        width: 100%;
        padding-bottom: 40px;

        display: flex;
        justify-content: center;

        @include breakpoint(medium) {
            padding-bottom: 0px;
          flex-direction: column;
        }

        & > div {
          padding: 25px;
          align-self: center;

          @include breakpoint(small) {
            padding: 5px;
            padding-left: 15px;
          }

          @include breakpoint(medium) {
            padding: 8px;
            padding-left: 15px;
          }

        }

        #portrait {
          width: 300px;

          @include breakpoint(small) {
            width: 100%;
          }
        }

        img {
          width: 300px;
          max-width: none;
          border-radius: $border-radius;

          @include breakpoint(small) {
            display: flex;
            margin: auto;
          }
        }

      }

      .ee {
          cursor: pointer;
      }

  }

  &#code {
    background: $code-background;
    overflow: hidden;

    .overlay {
      max-width: $max-width2;
      margin: auto;

      .row {
        display: flex;

        @include breakpoint(medium) {
          display: block;
        }

        @include breakpoint(small) {
          display: block;
        }

        h4 {
            padding-top: 45px;
          margin: auto;
          text-align: left;
          padding-right: 20px;
          flex-basis: 70%;

          @include breakpoint(medium) {
            padding-right: 0;
          }

          @include breakpoint(small) {
            padding-right: 0;
          }

        }

        &:nth-child(2n) {
          flex-direction: row-reverse;

          h4 {
            padding-left: 20px;
            padding-right: 0;
            flex-basis: 80%;

            @include breakpoint(medium) {
              padding-left: 0;
            }

            @include breakpoint(small) {
              padding-left: 0;
            }

          }

        }

        &:nth-child(3) {
          h4 {
            flex-basis: 70%;
          }
        }

        ul {
          list-style-type: none;
          padding-left: 0;
        }

      }

    }

    .background {
        padding-top: 60px;
      max-width: 1100px;
      margin: auto;
      color: $code-color;
      text-align: left;
      z-index: 1;
      position: relative;
      transform: rotate(-1deg);
      user-select: none;

      code {
        margin-left: -150px;
        margin-top: -40px;
        position: absolute;
        filter: blur(1.5px);

        @include breakpoint(medium) {
          margin-left: -130px;
        }

      }

      .comment-highlight {
        color: green;
      }

      .function-highlight {
        color: yellow;
      }

      .variable-highlight {
        color: lightskyblue;
      }

      .keyword-highlight {
        color: royalblue;
      }

      .statement-highlight {
        color: magenta;
      }

      .string-highlight {
        color: orange;
      }

      .number-highlight {
        color: lime;
      }

    }

  }

  &#javascript {
    background: white;

    .content {
    max-width: 800px;
    margin: auto;
    padding-top: 60px;

    #stack {
        display: flex;
        flex-direction: column;
        align-items: center;

        b {
            font-size: 18px;
            margin-left: -20px;
        }
    }

    #technologies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      @include breakpoint(small) {
        display: block;
      }

      & > div {
        margin: 5px;
        padding: 20px;
        background: $overlay-background2;
        border-radius: $border-radius;
        z-index: 2;
        position: relative;
        text-align: center;
        flex-grow: 1;

        @include breakpoint(medium) {
          padding: 6px;
        }

        img {
          max-width: 110px;
          max-height: 60px;
          vertical-align: middle;
        }
    }

      }
      
    }

  }

    &#activity {
        color: white;
        max-width: 1290px;
        display: flex;
        flex-direction: column;
        margin: auto;

        h4 {
            padding-top: 30px;

            a {
                color: white;
            }
        }
    
        @media (max-width: 1329px) {
            h4 {
                text-align: center;
            }
        }
        
        ul {
            list-style-type: none;
            padding: 0;
        }
    
        #social-wall {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        #social-wall-inner {
            padding-bottom: 100px;
        }
    
        .event {
            background: rgb(160, 160, 160);
            padding: 20px;
            margin: 15px;
            width: 400px;
            box-sizing: border-box;
            flex-shrink: 0;

            a {
                color: rgb(85, 85, 85);
            }
        }
    
        .event-inner {
            display: flex;
        }
    
        .event-icon {
            flex-shrink: 0;
            margin-right: 10px;
        }
    
        .event-icon-inner {
            width: 30px;
        }
    
        .event-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 60px;
        }
    
        .event-title::first-letter {
            text-transform: uppercase;
        }
    
        a.event-title {
            color: unset;
        }
    
        .event-time {
            font-style: italic;
            font-size: 14px;
        }
    }
}