a {
  text-decoration: none; }

nav {
  background: black;
  padding: 5px;
  display: flex;
  justify-content: flex-end; }
  nav a {
    color: white;
    margin-right: 5px;
    text-transform: uppercase; }
    nav a:hover {
      color: red; }

header {
  min-height: 96vh;
  text-align: center;
  display: flex;
  flex-direction: column; }
  header div {
    margin: auto; }
  header h1 .lastname {
    color: gray; }
  header #visual-menu {
    display: flex;
    justify-content: center; }
    header #visual-menu a {
      padding: 10px; }
      header #visual-menu a img {
        max-height: 100px; }

section {
  padding: 20px; }
  section .overlay {
    margin: 20px;
    padding: 20px;
     }
  section img {
    max-width: 100%; }
  section#doom {
    background-image: url("assets/doom-cover.jpg");
    background-size: cover; }
  section#javascript #technologies {
    display: flex;
    justify-content: center;
    align-items: center; }
    section#javascript #technologies div {
      padding: 10px; }
      section#javascript #technologies div img {
        max-width: 120px;
        max-height: 70px; }
  section#code {
    background: #111;
    height: 2100px;
    overflow: hidden; }
    section#code .background {
      text-align: left;
      color: white;
      transform: rotate(-1deg);
      user-select: none; }
      section#code .background code {
        position: absolute;
        margin-top: -60px;
        margin-left: -110px; }
      section#code .background .comment-highlight {
        color: green; }
      section#code .background .function-highlight {
        color: yellow; }
      section#code .background .variable-highlight {
        color: lightskyblue; }
      section#code .background .keyword-highlight {
        color: royalblue; }
      section#code .background .statement-highlight {
        color: magenta; }
      section#code .background .string-highlight {
        color: orange; }
      section#code .background .number-highlight {
        color: lime; }

/* added */

.overlay {
  background: rgba(255,255,255,0.8);
  z-index: 2;
  position: relative;
}

.button-container {
  display: flex;
}

.button-container a, button {
  display: block;
  background: steelblue;
  color: white;
  border-radius: 3px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

form {
   display: flex;
   flex-direction: column;
 }

.background {
  z-index: 1;
  position: relative;
}



